<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BibliotecaContext" connectionString="metadata=res://*/Biblioteca.csdl|res://*/Biblioteca.ssdl|res://*/Biblioteca.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=dbBiblio;user id=sa;password=.;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>