@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function cambiarEstado(id) {
        $.post('/Libro/CambiarEstado?LibroId=' + id,
            function (data) {
                $("#dEstado_" + id).html(data);
            }
        );
    }

    $(document).ready(function () {
        $('#sActualizar').click(function () {
            $.post('/Libro/Lista',
            function (data) {
                $("#dContList").html(data);
            });
        });
    });
</script>

<h2>Listado de Libros</h2>
<p>
    <a href="@Url.Action("Create")">
        <span class="btNuevo">Nuevo</span>
    </a>
    <span id="sActualizar" class="btActualizar">Actualizar</span>
</p>
<div id="dContList" class="contenido">
    @{Html.RenderAction("Lista");}
</div>
